<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.zxy.mapper.HobbyInfoMapper">

    <select id="select" resultType="hobbyInfo">
        select hobby_id,hobby_name from hobby where hobby_id = #{hid}
    </select>

</mapper>